body {
    padding: 20px;
}

button {
    margin-right: 5px;
}

img {
    height: 300px;
    object-fit: contain;
}

.card-container {
    max-width: 40%;
    max-height: 350px;
    margin: 0 auto;
}

.buttons-container {
    justify-content: space-between;
}

a {
    margin-right: 1rem;
}